body {
  color: #fff;
  font-family: $font-primary-header;
}

.header-2 {
  letter-spacing: 1.7px;
  font-size: 2rem;
  font-weight: 400;
  font-family: $font-display;
}
.header-1 {
  font-size: 9rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
}
.header-3 {
  font-size: 7rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0.8;
  font-family: $font-display;
}
.header-4 {
  font-size: 4rem;
  text-transform: lowercase;
  font-weight: 700;
}
.graph {
  font-size: 1.3rem;
  color: #fbf9f9ba;
  font-family: $font-primary;
}

//////////////////////////////////////////
// HELPERS
.mt {
  margin-top: 4rem;
}
.mb {
  margin-bottom: 5rem;
}
.mtb {
  margin-top: 5rem;
  // margin-bottom: 5rem;
}
.mr {
  margin-right: -4rem;
}
.sf {
  font-size: 1rem;
}
